.App{
  text-align: center;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
}
.nav-links{
  width: 40%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}